[run]
branch = True
source = app
omit =
    app/plugins/*/*
    app/testing/*
    app/helper/sites.py

[report]
show_missing = True
skip_empty = True
precision = 2
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    if __name__ == .__main__.:
    raise NotImplementedError
    pass

[html]
directory = htmlcov

[xml]
output = coverage.xml

[json]
output = coverage.json
