Cython~=3.0.2
pydantic~=1.10.8
SQLAlchemy~=2.0.15
uvicorn~=0.22.0
fastapi~=0.96.0
passlib~=1.7.4
PyJWT~=2.7.0
python-multipart~=0.0.6
alembic~=1.11.1
bcrypt~=4.0.1
regex~=2023.6.3
cn2an~=0.5.19
dateparser~=1.1.8
python-dateutil~=2.8.2
zhconv~=1.4.3
anitopy~=2.1.1
requests[socks]~=2.31.0
urllib3~=2.0.2
lxml~=4.9.2
pyquery~=2.0.0
ruamel.yaml~=0.17.31
APScheduler~=3.10.1
cryptography~=41.0.1
pytz~=2023.3
pycryptodome~=3.18.0
qbittorrent-api==2023.5.48
plexapi~=4.15.12
transmission-rpc~=4.3.0
Jinja2~=3.1.2
pyparsing~=3.0.9
func_timeout==4.3.5
bs4~=0.0.1
beautifulsoup4~=4.12.2
pillow~=9.5.0
pyTelegramBotAPI~=4.12.0
playwright~=1.37.0
cf_clearance~=0.29.2
torrentool~=1.2.0
slack_bolt~=1.18.0
slack_sdk~=3.21.3
chardet~=4.0.0
starlette~=0.27.0
PyVirtualDisplay~=3.0
psutil~=5.9.4
python_dotenv~=1.0.0
python_hosts~=1.0.3
watchdog~=3.0.0
tailer~=0.4.1
openai~=0.27.2
cacheout~=0.14.1
click~=8.1.6
requests_cache~=0.5.2
parse~=1.19.0
docker~=6.1.3
cachetools~=5.3.1
fast-bencode~=1.1.3
pystray~=0.19.5
pyotp~=2.9.0
Pinyin2Hanzi~=0.1.1
pywebpush~=2.0.0
py115j~=0.0.6
oss2~=2.18.6